.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: flex-start;
  align-items: center;
}

.footer a {
  color: #0070f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  text-decoration: underline;
}

.title span {
  color: tomato;
}

.title span:hover,
.title span:focus,
.title span:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

@media (min-width: 690px) {
  .title {
    font-size: 3rem;
  }
}

.title,
.description {
  text-align: center;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
